@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Source+Serif+Pro&display=swap');

.App {
  display:flex;
  height: 100vh;
  flex-direction: column;
  background-color: #7fffd4;
  color: #85283f;
  font-family: "Source Serif Pro", serif;
}

h1 {
  display: flex;
  justify-content: center;
  font-family: "Source Serif Pro", serif;
  margin-top: 10px;
  margin-bottom: 0px;
}

body {
  margin: 0;
  padding: 0;
}

.inputs {
  height: 200px;
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.inputs input {
  width: 200px;
  height: 25px;
  font-size: 1  em;
  margin: 10px;
  padding-left: 10px;
  font-family: "Montserrat", sans-serif;
}

.inputs button {
  margin-top: 10px;
  border: none;
  width: 150px;
  height: 25px;
  background-color: white;
  border-radius: 10px;
  font-family: "Source Serif Pro", serif;
  color:#85283f;
  font-size: 1em;
  
}

button:hover {
  cursor: pointer;
}


tr {
  display: table-cell;
}

table {
  margin-top: 10px;
  border-collapse: collapse;
}

.taskContainer button {
  width: 100px;
  height: 5em;
  border: 2px solid pink;
  font-family: 'Montserrat', sans-serif;
}

th, td {
  font-size: 1em;
  width: 100px;
  padding-right: 50px;
  padding-left: 50px;
  outline: 2px solid white;
}

td {
  min-height: 100px;
  max-width: 100px;
  overflow: hidden;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  padding-bottom: 10px;
  padding-top: 10px;
}

table {
  margin-left: auto;
  margin-right: auto;
  table-layout: fixed;
}

table tr {
  background-color: lavender;
}

th {
  padding-top: 10px;
  padding-bottom: 10px;
}